body {
	//width: 1920px;
}
#page-header {
	.clearfix;
	padding: 30px 0 17px;
	@media (max-width: 1400px) {
		padding: 15px 0;
	}
	@media (max-width: 990px) {
		padding: 15px 0 0;
	}
	.logo {
		float: left;
		width: 275px;
		padding: 0 0 0 65px;
		@media (max-width: 990px) {
			width: 280px;
			padding: 0;
			margin: 0 auto 5%;
			float: none;
		}
		a {
			img {
				display: block;
			}
		}
	}
	.toggle-menu {
		display: none;
		font-size: 0;
		font-weight: normal;
		height: 50px;
		line-height: 50px;
		margin: 0 auto 20px;
		@media (max-width: 990px) {
			display: block;
		}
		&:before{
			.fi;
			content: '\f0c9';
			font-size: 30px;
			.menu-on & {
				content: '\e80a';
			}
		}
	}
}
#sidebar {
	position: relative;
	z-index: 1;
	float: left;
	width: 275px;
	background: @c3;
	@media (max-width: 990px) {
		width: auto;
		float: none;
		display: none;
		.menu-on & {
			display: block;
		}
	}
}
#container {
	position: relative;
	margin: 0 0 0 295px;
	@media (max-width: 990px) {
		margin: 0;
	}
	.menu-on & {
		display: none;
	}
	&:before{
		content: '';
		position: absolute;
		right: 100%;
		top: 0;
		bottom: 0;
		width: 275px;
		background: @c3;
		margin: 0 20px 0 0;
	}
}
#col-main {
	.clearfix;
	width: 50%;
	padding: 0 10px 0 0;
	margin: 0 0 8%;
	float: left;
	@media (max-width: 1400px) {
		width: 100%;
		padding: 0;
	}
}
#col-right {
	.clearfix;
	float: left;
	width: 50%;
	padding: 0 0 0 10px;
	margin: 0 0 8%;
	@media (max-width: 1400px) {
		width: 100%;
		padding: 0;
	}
}
#content {
	padding: 0 40px;
	@media (max-width: 1600px) {
		padding: 0;
	}
	@media (max-width: 1400px) {
		padding: 0 20px 0 0;
	}
	@media (max-width: 990px) {
		padding: 0 20px;
	}
	h1 {
		padding: 25px 40px;
		line-height: 1.1;
		margin: 0 -40px 3%;
		font-size: 2.8vw;
		text-transform: uppercase;
		color: #fff;
		background: @c2;
		@media (max-width: 1600px) {
			margin-left: 0;
			margin-right: 0;
		}
		@media (max-width: 1400px) {
			margin-right: -20px;
		}
		@media (max-width: 990px) {
			margin-right: 0;
			font-size: 28px;
		}
	}
}
#page-footer {
	.clearfix;
	padding: 40px 0 80px;
	.copy {
		text-align: right;
		padding: 0 50px 0 0;
		margin: 0 0 28px;
		font-size: 15px;
		@media (max-width: 1400px) {
			float: left;
		}
	}
	.xart {
		font-size: 11px;
		text-align: right;
		padding: 0 50px 0 0;
		text-transform: uppercase;
		@media (max-width: 1400px) {
			float: right;
		}
		a {
			color: @c4;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			display: block;
			float: right;
			width: 15px;
			margin: 0 0 0 8px;
		}
	}
}
.mod_menu-button {
	.clearfix;
	float: right;
	margin: 0 0 0 35px;
	@media (max-width: 1400px) {
		margin: 0 0 0 10px;
	}
	@media (max-width: 990px) {
		float: none;
		margin: 0;
		display: none;
		.menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			float: left;
			margin: 0 0 0 20px;
			@media (max-width: 990px) {
				float: none;
				margin: 0;
			}
			a {
				.fh;
				.transition(0.2s);
				display: block;
				color: #fff;
				text-decoration: none;
				height: 58px;
				line-height: 58px;
				font-size: 18px;
				font-weight: bold;
				padding: 0 65px;
				text-align: center;
				text-transform: uppercase;
				background: @c2;
				@media (max-width: 990px) {
					height: auto;
					line-height: 1.2;
					padding: 15px 0;
					border-bottom: 1px solid #fff;
				}
				&:hover{
					background: @c4;
				}
			}
		}
	}
}
.mod_menu-top {
	.clearfix;
	float: right;
	margin: 20px 0 10px;
	@media (max-width: 990px) {
		float: none;
		margin: 0;
		display: none;
		.menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			.fh;
			font-weight: bold;
			text-transform: uppercase;
			float: left;
			margin:  0 0 0 25px;
			line-height: 1.2;
			color: lighten(@c1,30);
			@media (max-width: 1400px) {
				margin: 0 0 0 10px;
			}
			@media (max-width: 990px) {
				float: none;
				margin: 0;
			}
			&:after{
				.fh;
				font-weight: bold;
				content: '/';
				margin: 0 0 0 22px;
				@media (max-width: 1400px) {
					margin: 0 0 0 10px;
				}
				@media (max-width: 990px) {
					display: none;
				}
			}
			&:last-child {
				&:after{
					display: none;
				}
			}
			a {
				.transition(0.2s);
				color: @c1;
				text-decoration: none;
				color: lighten(@c1,30);
				@media (max-width: 990px) {
					display: block;
					text-align: center;
					padding: 10px 0;
					line-height: 1.2;
					border-bottom: 1px solid @c4;
				}
				&:hover{
					color: @c1;
				}
			}
			&.act {
				a {
					color: @c1;
				}
			}
		}
	}
}
.mod_menu-main {
	padding: 36px 47px 36px 20px;
	@media (max-width: 990px) {
		padding: 0;
	}
	ul {
		.rul;
		@media (max-width: 990px) {
			text-align: center;
			padding: 10px;
		}
		li {
			.rli;
			.fh;
			text-align: right;
			text-transform: uppercase;
			font-size: 17px;
			line-height: 1.2;
			color: #fff;
			@media (max-width: 990px) {
				display: inline-block;
				margin: 10px 10px 10px 0;
				&:after{
					content: '|';
					margin: 0 0 0 13px;
				}
			}
			a {
				.transition(0.2s);
				display: inline-block;
				padding: 11px 0;
				color: #fff;
				text-decoration: none;
				@media (max-width: 990px) {
					padding: 0;
				}
				&:hover{
					color: fade(#fff,50);
				}
			}
			&.act {
				a {
					color: fade(#fff,50);
				}
			}
		}
	}
}
.mod_custom-slider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	&:before, &:after {
		.fi;
		position: absolute;
		z-index: 101;
		content: '\e80f';
		bottom: 5%;
		text-align: center;
		left: 50%;
		width: 100px;
		margin: 0 0 0 -50px;
		color: #fff;
		font-size: 1.3vw;
		line-height: 1;
		@media (max-width: 990px) {
			display: none;
		}
	}
	&:after{
		bottom: 7%;
		color: @c2;
	}
	.items {
		.item {
			position: relative;
			display: none;
			width: 100%;
			background-position: center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			&:nth-child(2) {
				display: block;
			}
			&.cycle-slide {
				padding: 0 0 50%;
			}
			figure {
				position: relative;
				img {
					display: block;
				}
			}
			.content {
				@media (min-width: 771px) {
					overflow: hidden;
					text-align: center;
					position: absolute;
					left: 25.5%;
					right: 25.5%;
					top: 50%;
					padding: 4.2% 2% 5.9%;
					margin: -6.5% 0 0;
					@media (max-width: 1400px) {
						padding-top: 5%;
						padding-bottom: 8%;
					}
					@media (max-width: 1200px) {
						left: 20%;
						right: 20%;
						padding-top: 8%;
						padding-bottom: 10%;
					}
					&:before{
						position: absolute;
						content: '';
						left: 0;
						top: 0;
						right: 0;
						bottom: 30px;
						border: 8px solid #fff;
						border-bottom: none;
					}
					h2 {
						font-size: 2.95vw;
						line-height: 1;
						text-transform: uppercase;
						color: #fff;
						margin: 0;
						text-shadow: 0 0 30px #000;
						@media (max-width: 990px) {
							font-size: 30px;
						}
						mark {
							color: @c2;
						}
					}
					nav {
						position: absolute;
						bottom: 0;
						right: 95px;
						&:before, &:after {
							content: '';
							position: absolute;
							top: 50%;
							right: 100%;
							width: 999em;
							height: 8px;
							margin: -4px 25px 0 0;
							background: #fff;
						}
						&:after{
							right: auto;
							left: 100%;
							margin: -4px 0 0 25px;
						}
						a {
							.fh;
							.transition(0.2s);
							display: block;
							color: #fff;
							text-decoration: none;
							height: 66px;
							line-height: 50px;
							padding: 0 28px;
							font-size: 0.95vw;
							text-transform: uppercase;
							border: 8px solid @c2;
							background: fade(#000,30);
							@media (max-width: 1200px) {
								font-size: 15px;
							}
							&:hover{
								border-color: #fff;
								background: @c2;
							}
						}
					}
				}
				@media (max-width: 770px) {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 10px 20px;
					color: #fff;
					background: fade(#000,50);
					h2 {
						float: left;
						margin: 0;
						text-transform: uppercase;
						font-size: 20px;
						mark {
							color: @c2;
						}
					}
					nav {
						float: right;
						a {
							.fh;
							.transition(0.2s);
							display: block;
							color: @c1;
							font-size: 14px;
							color: #fff;
							border: 2px solid #fff;
							text-transform: uppercase;
							text-decoration: none;
							padding: 2px 15px;
							&:hover{
								color: @c1;
								background: #fff;
							}
						}
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		bottom: 5%;
		right: 5%;
		@media (max-width: 990px) {
			bottom: auto;
			top: 5%;
		}
		span {
			float: left;
			text-indent: -9999px;
			width: 29px;
			height: 29px;
			margin: 0 0 0 12px;
			border: 8px solid #fff;
			cursor: pointer;
			&.cycle-pager-active {
				background: @c2;
			}
		}	
	}
	.prev, .next {
		.transition(0.2s);
		position: absolute;
		z-index: 101;
		top: 50%;
		left: 2.2%;
		text-decoration: none;
		color: #fff;
		text-shadow: 3px 3px 0 fade(#000,40);
		font-size: 54px;
		height: 100px;
		line-height: 100px;
		margin: -50px 0 0;
		&:hover{
			color: @c2;
		}
		&:before{
			.fi;
			content: '\e80c';
		}
	}
	.next {
		left: auto;
		right: 2.2%;
		&:before{
			content: '\e80d';
		}
	}
}
.mod_custom-gallery {
	position: relative;
	overflow: hidden;
	#col-right & {
		top: -10px;
		margin: 0 0 -10px;
	}
	.inner {
		margin: 0 -10px;
	}
	.mod-header {
		position: relative;
		float: left;
		width: 25%;
		padding: 0 0 25%;
		@media (max-width: 1200px) {
			width: 50%;
		}
		@media (max-width: 990px) {
			float: none;
			width: 100%;
			padding: 0;
		}
		#col-right & {
			width: 50%;
			padding: 0 0 50%;
			@media (max-width: 1400px) {
				width: 25%;
				padding: 0 0 25%;
			}
			@media (max-width: 1200px) {
			width: 50%;
			}
			@media (max-width: 990px) {
				float: none;
				width: 100%;
				padding: 0;
			}
		}
		.content {
			position: absolute;
			left: 10px;
			top: 10px;
			right: 10px;
			bottom: 10px;
			padding: 10%;
			color: #fff;
			text-transform: uppercase;
			font-size: 0.88vw;
			line-height: 1.8;
			background: @c4;
			@media (max-width: 990px) {
				position: relative;
				padding: 20px;
				font-size: 12px;
				margin: 0 0 20px;
			}
			.mod-title {
				.fh;
				text-transform: uppercase;
				font-size: 1.8vw;
				line-height: 1.2;
				margin: 0 0 5%;
				@media (max-width: 1400px) {
					font-size: 1.5vw;
				}
				@media (max-width: 990px) {
					font-size: 22px;
					margin: 0 0 10px;
				}
			}
			nav {
				position: absolute;
				overflow: hidden;
				bottom: 9%;
				left: 10%;
				@media (max-width: 990px) {
					position: relative;
					left: 0;
					display: inline-block;
				}
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					left: 0;
					bottom: 0;
					right: 0;
					top: 8px;
					border: 2px solid #fff;
					border-top: none;
				}
				&:after{
					content: '';
					position: absolute;
					top: 8px;
					left: 0;
					right: 0;
					height: 2px;
					background: transparent;
					border-left: 16px solid #fff;
					border-right: 16px solid #fff;
				}
				a {
					.fh;
					.transition(0.2s);
					position: relative;
					z-index: 1;
					display: block;
					padding: 0 28px 20px;
					color: #fff;
					font-size: 0.95vw;
					line-height: 26px;
					text-decoration: none;
					@media (max-width: 990px) {
						font-size: 14px;
					}
					&:before{
						content: '';
						position: absolute;
						top: 0;
						right: 100%;
						height: 2px;
						width: 999em;
						background: #fff;
					}
				}
				&:hover{
					&:before{
						background: #fff;
					}
					a {
						color: @c1;
						padding-top: 15px;
						padding-bottom: 5px;
					}
				}
			}
		}
	}
	.item {
		position: relative;
		float: left;
		width: 25%;
		padding: 0 0 25%;
		text-align: center;
		@media (max-width: 1200px) {
			width: 50%;
		}
		@media (max-width: 450px) {
			width: 100%;
			padding: 0 0 50%;
		}
		#col-right & {
			width: 50%;
			padding: 0 0 50%;
			@media (max-width: 1400px) {
				width: 25%;
				padding: 0 0 25%;
			}
			@media (max-width: 1200px) {
				width: 50%;
			}
			@media (max-width: 450px) {
				width: 100%;
				padding: 0 0 50%;
			}
		}
		a {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			overflow: hidden;
			text-decoration: none;
			color: #fff;
			&:hover{
				.content {
					-webkit-opacity: 1;
					-moz-opacity: 1;
					opacity: 1;
					filter:alpha(opacity=100);
					h2 {
						bottom: 50%;
						&:before{
							top: 100%;
						}
					}
				}
			}
			figure {
				img {
					display: block;
					@media (max-width: 1200px) {
						margin: -25% 0 0;
					}
				}
			}
			.content {
				.transition(0.2s);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: fade(#000,50);
				-webkit-opacity: 0;
				-moz-opacity: 0;
				opacity: 0;
				filter:alpha(opacity=0);
				@media (max-width: 990px) {
					top: auto;
					-webkit-opacity: 1;
					-moz-opacity: 1;
					opacity: 1;
					filter:alpha(opacity=100);
				}
				h2 {
					.transition(0.2s);
					position: absolute;
					bottom: 40%;
					left: 15px;
					right: 15px;
					font-size: 1.6vw;
					text-transform: uppercase;
					@media (max-width: 990px) {
						position: static;
						font-size: 18px;
						margin: 10px 0;
					}
					&:before{
						.fi;
						.transition(0.4s);
						content: '\e808';
						position: absolute;
						top: 150%;
						left: 50%;
						width: 100px;
						margin: 49px 0 0 -50px;
						font-size: 36px;
						line-height: 1;
						font-weight: normal;
						@media (max-width: 990px) {
							display: none;
						}
					}
					small {
						.fp;
						display: block;
						font-weight: normal;
						font-size: 0.9vw;
						margin: 5px 0 0;
						@media (max-width: 990px) {
							font-size: 12px;
						}
						&:before{
							position: absolute;
							content: '';
							top: 100%;
							left: 50%;
							width: 84px;
							height: 38px;
							border: 2px solid #fff;
							border-bottom: none;
							margin: 30px 0 0 -42px;
							@media (max-width: 990px) {
								display: none;
							}
						}
						&:after{
							content: '';
							position: absolute;
							top: 100%;
							left: 50%;
							margin: 66px 0 0 -42px;
							width: 84px;
							height: 2px;
							border-left: 16px solid #fff;
							border-right: 16px solid #fff;
							@media (max-width: 990px) {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
.banners-row {
	position: relative;
	overflow: hidden;
	.row {
		margin: 0 -10px;
	}
}
.mod_custom-testimonials {
	position: relative;
	float: left;
	width: 50%;
	padding: 0 0 25%;
	margin: 0 0 10px;
	@media (max-width: 1400px) {
		width: 100%;
		padding: 0;
	} 
	.inner {
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		padding: 40px;
		@media (max-width: 1400px) {
			position: relative;
		}
	}
	.mod-title {
		.fh;
		font-size: 1.86vw;
		line-height: 1.3;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 5%;
		@media (max-width: 1600px) {
			font-size: 1.5vw;
		}
		@media (max-width: 1400px) {
			margin: 0 0 2%;
		}
		@media (max-width: 990px) {
			font-size: 22px;
		}
	}
	.items {
		.clearfix;
		margin: 0 0 0 -40px;
		@media (max-width: 990px) {
			margin: 0;
		}
		.item {
			float: left;
			width: 50%;
			padding: 0 0 0 40px;
			font-size: 0.72vw;
			line-height: 2.1;
			@media (max-width: 1600px) {
				line-height: 1.5;
				font-size: 0.75vw;
			}
			@media (max-width: 1400px) {
				font-size: 13px;
			}
			@media (max-width: 990px) {
				float: none;
				width: auto;
				padding: 0 40px 0 0;
			}
			blockquote {
				margin: 0;
				padding: 0;
				&:before{
					.fi;
					content: '\f10e';
					float: left;
					font-size: 33px;
					line-height: 1;
					margin: 5px 22px 0 0;
					color: @c4;
				}
				p {
					margin: 0 0 5%;
					@media (max-width: 990px) {
						margin: 0 0 20px;
					}
				}
			}
		}
	}
	nav {
		position: absolute;
		bottom: 0;
		right: 0;
		@media (max-width: 1400px) {
			position: relative;
			right: -20px;
		}
		a {
			font-size: 0;
			color: #fff;
			text-decoration: none;
			&:hover{
				&:after{
					border-right-color: @c2;
				}
			}
			&:before{
				.fi;
				position: absolute;
				z-index: 1;
				bottom: 0;
				right: 0;
				height: 60px;
				line-height: 60px;
				width: 60px;
				text-align: center;
				font-size: 30px;
				content: '\e809';
			}
			&:after{
				.transition(0.2s);
				content: '';
				position: absolute;
				right: 0;
				bottom: 0;
				border-top: 103px solid transparent;
				border-right: 103px solid @c4;
			}
		}
	}
}
.mod_banners {
	position: relative;
	float: left;
	width: 50%;
	margin: 0 0 10px;
	@media (max-width: 1400px) {
		width: 100%;
	}
	#col-right & {
		width: 100%;
	}
	.item {
		position: relative;
		float: left;
		width: 50%;
		padding: 0 0 50%;
		@media (max-width: 1400px) {
			padding: 0 0 25%;
		}
		@media (max-width: 990px) {
			width: 100%;
			padding: 0;
			margin: 0 0 20px;
		}
		&:nth-child(even) {
			.content {
				background: @c3;
			}
		}
		.content {
			position: absolute;
			top: 10px;
			right: 10px;
			left: 10px;
			bottom: 10px;
			padding: 10%;
			color: #fff;
			text-transform: uppercase;
			font-size: 0.9vw;
			line-height: 1.8;
			background: @c2;
			@media (max-width: 990px) {
				font-size: 12px;
			}
			@media (max-width: 990px) {
				position: relative;
				padding: 20px;
			}
		}
		.mod-title {
			.fh;
			font-size: 1.74vw;
			line-height: 1.1;
			color: #fff;
			margin: 0 -10% 4% 0;
			@media (max-width: 990px) {
				font-size: 20px;
			}
			@media (max-width: 990px) {
				margin: 0 0 10px;
			}
			mark {
				float: left;
				color: #fff;
				font-size: 5.6vw;
				margin: -6% 2% -6% -14%;
				font-weight: 800;
				@media (max-width: 990px) {
					display: inline-block;
					font-size: 30px;
					margin: -10px 0 0 0;
					float: none;
				}
			}
			strong {
				font-size: 2.3vw;
				font-weight: 800;
				@media (max-width: 990px) {
					font-size: 20px;
				}
			}
		}
		nav {
			position: absolute;
			overflow: hidden;
			bottom: 9%;
			left: 10%;
			@media (max-width: 990px) {
				position: relative;
				left: 0;
				bottom: 0;
				display: inline-block;
			}
			&:before{
				.transition(0.2s);
				position: absolute;
				content: '';
				left: 0;
				bottom: 0;
				right: 0;
				top: 8px;
				border: 2px solid #fff;
				border-top: none;
			}
			&:after{
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				right: 0;
				height: 2px;
				background: transparent;
				border-left: 16px solid #fff;
				border-right: 16px solid #fff;
			}
			a {
				.fh;
				.transition(0.2s);
				position: relative;
				z-index: 1;
				display: block;
				padding: 0 28px 20px;
				color: #fff;
				font-size: 0.95vw;
				line-height: 26px;
				text-decoration: none;
				@media (max-width: 990px) {
					font-size: 16px;
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					right: 100%;
					height: 2px;
					width: 999em;
					background: #fff;
				}
			}
			&:hover{
				&:before{
					background: #fff;
				}
				a {
					color: @c1;
					padding-top: 15px;
					padding-bottom: 5px;
				}
			}
		}
	}
}
.mod_custom-banner {
	clear: both;
	.item {
		.clearfix;
		position: relative;
		background: #4d4d4d;
		figure {
			position: relative;
			float: right;
			width: 50%;
			#col-right & {
				width: 100%;
				@media (max-width: 1400px) {
					width: 50%;
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 20%;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZDRkNGQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(left,  rgba(77,77,77,1) 0%, rgba(77,77,77,0) 100%);
				background: -webkit-linear-gradient(left,  rgba(77,77,77,1) 0%,rgba(77,77,77,0) 100%);
				background: linear-gradient(to right,  rgba(77,77,77,1) 0%,rgba(77,77,77,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#004d4d4d',GradientType=1 );
			}
			img {
				display: block;
			}
		}
		.content {
			float: left;
			width: 50%;
			color: #fff;
			padding: 3.5% 6.3%;
			#col-right & {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				padding: 7% 13%;
				@media (max-width: 1400px) {
					position: static;
					width: 50%;
					padding: 3.5% 6.3%;
				}
			}
			h2 {
				.fp;
				font-weight: 300;
				font-size: 2.6vw;
				line-height: 1.2;
				text-transform: uppercase;
				margin: 0 0 7%;
				@media (max-width: 990px) {
					font-size: 24px;
				}
				mark {
					display: block;
					color: #fff;
					font-weight: 800;
					font-size: 2.4vw;
					@media (max-width: 990px) {
						font-size: 24px;
					}
				}
			}
			nav {
				a {
					.fh;
					.transition(0.2s);
					padding: 5.2% 7.9%;
					font-size: 1.45vw;
					line-height: 1;
					display: inline-block;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					background: @c2;
					@media (max-width: 990px) {
						font-size: 15px;
					}
					&:hover{
						background: @c4;
					}
				}
			}
		}
	}
}
.mod_custom-contact {
	clear: both;
	position: relative;
	float: left;
	width: 70%;
	@media (max-width: 1400px) {
		float: none;
		width: auto;
		margin: 0 0 5%;
	}
	@media (max-width: 990px) {
		text-align: center;
	}
	.mod-title {
		float: left;
		width: 208px;
		padding: 4px 0 0;
		margin: 0 35px 0 40px;
		@media (max-width: 1400px) {
			margin-left: 0;
		}
		@media (max-width: 990px) {
			margin: 0 auto 30px;
			float: none;
		}
		img {
			display: block;
		}
	}
	address {
		float: left;
		font-style: normal;
		font-size: 15px;
		padding: 0 20px 0 0;
		margin: 0 25px 0 0;
		border-right: 2px solid @c4;
		@media (max-width: 990px) {
			float: none;
			margin: 0 0 30px;
			padding: 0;
			border: 0;
		}
	}
	.phone {
		font-weight: 300;
		font-size: 35px;
		line-height: 1;
		margin: 0 0 10px;
		text-align: left;
		@media (max-width: 990px) {
			text-align: center;
		}
		small {
			font-weight: normal;
			font-size: 24px;
		}
	}
	.email {
		font-size: 14px;
		text-align: left;
		@media (max-width: 990px) {
			text-align: center;
		}
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.media {
		position: absolute;
		right: 100%;
		bottom: 0;
		padding: 0 70px 0 0;
		ul {
			.rul;
			width: 200px;
			text-align: right;
			li {
				.rli;
				display: inline-block;
				margin: 5px 0 0 5px;
				a {
					.transition(0.2s);
					color: #fff;
					color: fade(#fff,70);
					font-size: 0;
					line-height: 1;
					text-decoration: none;
					&:hover{
						color: fade(#fff,40);
					}
					&:before{
						margin: 0;
						font-size: 38px;
					}
				}
			}
		}
	}
}
.mod_breadcrumbs {
	margin: 0 0 30px;
	ul {
		.rul;
		li {
			display: inline-block;
			font-size: 14px;
			text-transform: uppercase;
			margin: 0 10px 0 0;
			color: @c2;
			font-weight: bold;
			&:before{
				font-weight: normal;
				top: 7px;
			}
			&:first-child {
				padding: 0;
				&:before{
					display: none;
				}
			}
			a {
				text-decoration: none;
				color: @c4;
				font-weight: normal;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: darken(@c4,20);
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80e';
			font-size: 14px;
		}
		&:hover{
			background: darken(@c4,30);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}